<header class="{{platform}} header">
    <nav class="header__menu">
        <img class="header__menu-burger" src="assets/menu.svg" alt="menu"></img>
        <img class="header__menu-cancel" src="assets/menuCancel.svg" alt="menu"></img>
        <ul class="header__menu-list">
            <li class="header__menu-list__item">
                <a href="index.html" class="header__menu__item-link">Accueil</a>
            </li>
            <li class="header__menu-list__item">
                <a href="expertise.html" class="header__menu__item-link">Expertise</a>
            </li>
            <li class="header__menu-list__item">
                <a href="achievements.html" class="header__menu__item-link">Réalisations</a>
            </li>
            <li class="header__menu-list__item">
                <a href="about.html" class="header__menu__item-link">A propos</a>
            </li>
        </ul>
    </nav>
    <img class="header__logo" src="assets/kaneki_wallpaper.jpg" alt="Logo Vision-UX"></img>
</header>
